/* ALL */
*
{
	outline: none;
}

html
{
	margin: 0px 0px 0px 0px;
	background-image: url(img/Starfield_1.png);
	background-attachment: fixed !important;
	background-repeat: no-repeat;
	background-position: center center;
}
#card {
	width: 70%;
	display: block;
	padding-top: 15%;
	margin: auto;

}
.front, .back {
	width:60%;
}
img {
	display: block;
	margin: auto;
	width: 50%;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
  /* iPhone 5, Android in portrait and landscape orientation rules here */
  /* create landscape-only rules (for social icons right-justified) later with  and (orientation: portrait) */
  	html {
  	min-height: 100%;
  	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  	}
  	#card {
  		width:90%;
  		display: block;
  		padding-top: 30%;
  		margin: auto;
  	}
  	.front, .back {
  		width:80%;
  	}
  	img {
  		display: block;
  		margin: auto;
  		width: 75%;
  	}
